*.vcxproj.user
*.pro.user
*.suo
*.opensdf
*.VC.opendb
*.sdf
*.thumbnails


bin/
obj/
junk/
data/configs/unigine.user
data/guids.db
data/.runtimes/
data/shader_d3d11.cache
data/shader_d3d11_debug.cache

launch_debug.bat
launch_editor.bat
launch_release.bat